.body{
    background-color: lightgray;
}
/* CSS Centrado */
.div__centrado{
    display: flex;
    justify-content: center;
}
/* CSS HEADER */
.header{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}
.header__logo{
    width: 10rem;
    height: 10rem;
}
.header__text{
    display:flex;
    margin-top: 4rem;
    margin-right: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: -2.6px;
    word-spacing: 2.2px;
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    background-color: lightgray;
}
.header__navegacion{
    display: flex;
    justify-content: space-between;
}
.active, .items__navegacion:hover{
    background-color: #000000;
    color: aliceblue;
}
.items__navegacion{
    display:flex;
    flex-direction: row;
    margin-right: auto;
    padding: 1rem;
    margin-top: 2.35rem;
    font-size: 17px;
    letter-spacing: -2px;
    word-spacing: 1.4px;
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
/* CSS Resize IMG */
.div__img{
    margin-bottom: 3.5rem;
    width: 40rem;
    height: 20rem;
}

/* CSS DIV Cuadro */
.div__principal{
    border:black 1px solid;
}
.div__main{
    display: flex;
    margin-bottom: 3.5rem;
}
.div__mainderecha{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 3.5rem;
}
/* CSS DIV Cursos */
.div__img_curso{
    width: 10rem;
    height: 10rem;
}
.div__txt_curso{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    word-spacing: -2.8px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
}

/* CSS Encabezado de todos los HTML */
.header__encabezado{
    display:flex;
    justify-content: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: -2.6px;
    word-spacing: 2.2px;
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    background-color: lightgray;
}

.div__video{
    border: black 2px solid;
    margin-bottom: 3rem;
}

.ajuste__texto{
    height: 7rem;
    width: 35rem;
    margin-bottom: 5rem;
    align-items: center;
}

.test__grilla{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: lightgrey;
  }

.contenedor_a_posicionar{
    display: flex;
    border: #000000 1px solid;
    flex-basis: 100%;
    padding: 1rem 2rem;
    gap: 2rem;
}

/* Media query */
@media screen and (max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__navegacion{
        display: flex;
        flex-direction: row;
    }
    .div__img{
        width: 13rem;
        height: 8rem;
    }
    .div__img_curso{
        width: 8rem;
        height: 8rem;
    }
    .div__txt_curso{
        font-size: 10px;
        letter-spacing: 0.4px;
        margin-top: 0;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        margin:auto;
    }
    .header__text{
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
    .contenedor_a_posicionar{
        padding: 0;
        gap:0;
    }
    .div__video{
        width: 425px;
        height: 280px;
    }
    .ajuste__texto{
        width: 19rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__navegacion{
        display: flex;
        flex-direction: row;
    }
    .div__img{
        width: 10rem;
        height: 5.5rem;
    }
    .div__img_curso{
        width: 5rem;
        height: 5rem;
    }
    .div__txt_curso{
        font-size: 10px;
        letter-spacing: 0.1px;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        margin:auto;
    }
    .header__text{
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 1024px){
    .header{
/* Prueba de act */
    }
}