.body{
    background-color: lightgray;
}
/* CSS Centrado */
.div__centrado{
    display: flex;
    justify-content: center;
}
/* CSS HEADER */
.header{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}
.header__logo{
    width: 10rem;
    height: 10rem;
}
.header__text{
    display:flex;
    margin-top: 4rem;
    margin-right: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: -2.6px;
    word-spacing: 2.2px;
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    background-color: lightgray;
}
.header__navegacion{
    display: flex;
    justify-content: space-between;
}
.active, .items__navegacion:hover{
    background-color: #000000;
    color: aliceblue;
}
.items__navegacion{
    display:flex;
    flex-direction: row;
    margin-right: auto;
    padding: 1rem;
    margin-top: 2.35rem;
    font-size: 17px;
    letter-spacing: -2px;
    word-spacing: 1.4px;
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
/* CSS Resize IMG */
.div__img{
    margin-bottom: 3.5rem;
    width: 80rem;
    height: 43rem;
}
.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* CSS DIV Cuadro */

.div__main{
    display: flex;
    margin-bottom: 3.5rem;
}
.div__mainderecha{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 3.5rem;
}
/* CSS DIV Cursos */
.div__img_curso{
    width: 10rem;
    height: 10rem;
}
.div__txt_curso{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    word-spacing: -2.8px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
}

/* CSS Encabezado de todos los HTML */
.header__encabezado{
    display:flex;
    justify-content: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: -2.6px;
    word-spacing: 2.2px;
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    background-color: lightgray;
}

.div__video{
    border: black 2px solid;
    margin-bottom: 3rem;
}

.ajuste__texto{
    height: 7rem;
    width: 35rem;
    margin-bottom: 5rem;
    align-items: center;
}

.test__grilla{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: lightgrey;
  }

.contenedor_a_posicionar{
    display: flex;
    border: #000000 1px solid;
    flex-basis: 100%;
    padding: 1rem 2rem;
    gap: 2rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.footer_right{
    display: flex;
    flex-direction: column;
    justify-items: right;
    align-items: end;
}

.texto__footer{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    letter-spacing: -2.6px;
    word-spacing: 2.2px;
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    background-color: lightgray;
} 
.texto_dir_footer{
    display: flex;
    flex-direction: row;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    word-spacing: -2.8px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
}
.mapa{
    border: #000000 1px solid;
}
.img_empresas{
    margin-bottom: 3.5rem;
    width: 10rem;
    height: 10rem;
}
.img_cursos{
    margin-bottom: 3.5rem;
    width: 10rem;
    height: 6rem;
}
.puff-in-center {
	-webkit-animation: puff-in-center 8s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
	        animation: puff-in-center 8s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
}
.div__principal{
    border:black 1px solid;
}
/* Media query */
@media screen and (max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__navegacion{
        display: flex;
        flex-direction: row;
    }
    .div__img{
        width: 13rem;
        height: 8rem;
    }
    .div__img_curso{
        width: 8rem;
        height: 8rem;
    }
    .div__txt_curso{
        font-size: 10px;
        letter-spacing: 0.4px;
        margin-top: 2rem;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        margin:auto;
    }
    .header__text{
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
    .contenedor_a_posicionar{
        padding: 0;
        gap:0;
    }
    .div__video{
        width: 425px;
        height: 280px;
        margin-bottom: 6rem;
    }
    .ajuste__texto{
        width: 19rem;
        margin-bottom: 6rem;
    }
    .mapa{
        width: 189px;
        height: 75px;
    }
    .texto_dir_footer{
        font-size: 12px;
    }
    .texto__footer{
        justify-content: left;
    }
    .img_empresas{
        width: 6rem;
        height: 6rem;
    }
    .footer{
        margin-top: 2rem;
    }
    .header__encabezado{
        font-size: 20px;
    }
    .div__principal{
        flex-basis: 100%;
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .img_cursos{
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 768px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__navegacion{
        display: flex;
        flex-direction: row;
    }
    .div__img{
        width: 20rem;
        height: 10.5rem;
    }
    .div__img_curso{
        width: 5rem;
        height: 5rem;
    }
    .div__txt_curso{
        margin-top: 0rem;
        font-size: 15px;
        letter-spacing: 0.1px;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        margin:auto;
    }
    .header__text{
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
    .texto_dir_footer{
        font-size: 12px;
    }
    .footer{
        margin-top: 2rem;
    }
    .img_empresas{
        margin-bottom: 0;
        width: 6rem;
        height: 6rem;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-11 22:56:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
 /* ----------------------------------------------
 * Generated by Animista on 2023-1-11 23:4:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2023-1-11 23:26:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  
  
  
  